<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', { title: 'Create New Article' }) %>


    <body>
       <h1 class="new-head"><%= article.title %></h1>
       <div><%= article.createdAt.toLocaleDateString() %>
        <a href="/updates" class="all-articles">Latest News And Updates</a>
       <a href="/updates/edit/<%= article.id %>" class="edit-articles"> 
        Edit

       </a></div>

       <% if (article.imagePath) { %>
        <img src="<%= article.imagePath %>" alt="Drake Updates " class="article-image">
    <% } %>
    

      <div class="article-body"><%- article.sanitizedHtml %></div> 
    
    
    </div>
       



       
     

    </body>
</html>